
# python files
*.py[cod]

# svc
*.orig
*.rej

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
.installed.cfg
/lib
/lib64
/venv
/venv3
.DS_Store
__pycache__

# Installer logs
/pip-log.txt

# Unit test / coverage reports
.coverage
.tox
/nosetests.xml

.project
.pydevproject
.settings/

# Sublime files
*.sublime-project
*.sublime-workspace
*.sublime-project.favorites

# Local settings
/allstatic/
/env
/emails/
/media/
/help-man/

tmp

*.pyc
*.wsgi
*.swp
*.tar
.ropeproject
.venv
.venv3


project_src/secret.txt
project_src/settings/secret.txt
project_src/settings/local.py
project_src/settings_local.py
src/project_src/static/CACHE
settings_local.py
static/CACHE
logs
tmp

src/apps/bshop/contrib/store/settings/google_drive_creds.txt
src/project_src/secret.txt
src/project_src/settings/secret.txt
src/project_src/settings/local.py
src/project_src/settings_local.py
src/settings_local.py
src/static/CACHE
src/allstatic/
src/media/
src/mediawebp/
src/logs/
src/tmp/
src/celerybeat-schedule.*

*.sqlite3
/.idea/
.idea/*
.vscode/